.advantages {
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.advantages__column {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages-column__icon {
  padding: 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantages-column__header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-text-color);
}

.advantages-column__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
