.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.futter__container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer__tablet {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.futter-logo__color {
  color: #ffffff;
}
.footer__contacts {
  margin-top: 20px;
}
.footer__list {
  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--address-color);
  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.futter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-address-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.futter__mail {
  margin-bottom: 8px;
  margin-top: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
    margin-top: 9px;
  }
}
.socials {
  @media screen and(min-width:1200px) {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
}
.futter__socials {
  @media screen and (max-width: 768px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    margin-left: 70px;
  }
}
.tittle-socials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  @media screen and (max-width: 1200px) {
    text-align: center;
  }
}

.futter-socials__list {
  display: flex;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.futter-socials__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.futter-socials__link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.futter-socials__icon-wite {
  fill: #ffffff;
}
.futter__subscription {
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    margin-left: 93px;
  }
}
.subscription__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and(max-width:1200px) {
    text-align: center;
    margin-top: 60px;
  }
}
.subscription__wrapper {
  display: flex;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}
.subscription__input {
  padding: 15px;
  width: 358px;

  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and(max-width:1200px) {
    width: 100%;
  }
}

.subscription__btn {
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  outline: none;
  border: none;

  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;

  @media screen and(max-width:1200px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
.subscription__icon {
  margin-left: 10px;
  fill: #ffffff;
}
