.gallery-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.portfolio-link {
  display: block;
  color: inherit;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .portfolio-second-text,
  &:focus .portfolio-second-text {
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.img-list {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.gallery-list-wrap {
  position: relative;
  overflow: hidden;
}
.card-content {
  padding: 20px 24px;
}

.portfolio-header-pic {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.portfolio-text-pic {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.portfolio-second-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 768px) {
    padding: 77px 24px;
  }
  @media screen and (min-width: 768px) {
    padding: 49px 30px 49px 18px;
  }
}
