.header-logo {
  margin-right: 84px;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.logo__color_first {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-logo-color);
}

.logo__color_second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
}
