.workspace {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 94px;
}

.workspace__list {
  display: flex;
  justify-content: center;
}

.workspace__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.workspace-item__text {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  color: #ffffff;
}
