:root {
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --accent-color: #2196f3;
  --header-text-color: #212121;
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --address-color: #ffffff;
  --second-address-color: rgba(255, 255, 255, 0.6);
}
